<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310722748852-tuj5sr1689t30pi40krdsvid8tmgnc8q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310722748852-tuj5sr1689t30pi40krdsvid8tmgnc8q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>310722748852-hajni70vv1n2c9ml2glvmrvuldo3ing3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDUgQRfpgi4Gjpzx8YohRkubKoAdU3zfdI</string>
	<key>GCM_SENDER_ID</key>
	<string>310722748852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vsoft.ylp</string>
	<key>PROJECT_ID</key>
	<string>africanstraw-e03e1</string>
	<key>STORAGE_BUCKET</key>
	<string>africanstraw-e03e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310722748852:ios:fd551e0f495882fc1392e1</string>
</dict>
</plist>